<h2>注文情報確認</h2>
<div class="container">
<%= form_with model: @order do |f| %>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>商品名</th>
      <th></th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @sum = 0 %>
    <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= image_tag cart_item.item.get_image, class: 'cart_item-image' %></td>
      <td><%= cart_item.item.name %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.amount %></td>
      <td><%= cart_item.subtotal %></td>
    </tr>
    <% @sum += cart_item.subtotal %>
    <% end %>
  </tbody>
  </table>

  <table class="table table-striped w-25 ml-auto">
    <tbody>
      <tr>
        <th>送料</th>
        <td><%= @order.shipping_cost %></td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @sum %></td>
      </tr>
      <tr>
        <th>合計金額</th>
        <td>
          <%= @order.total_payment = @sum + @order.shipping_cost %>
          <% @order.total_payment %>
        </td>
      </tr>
    </tbody>
  </table>
  
  <div>
    <h3>支払い方法</h3>
    <%= @order.payment_method_i18n %>
  </div>
  
  <div>
    <h3>お届け先</h3>
    <%= @order.address_display %>
  </div>
  
  
  <div class="form-group text-center">
    <%= f.submit "注文を確定する", class: "btn btn-success", "data-confirm" => "本当に購入を確定しますか？" %></%>
  </div>
  
  <%= f.hidden_field :post_code %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :shipping_cost %>
  <%= f.hidden_field :total_payment %>
  <%= f.hidden_field :payment_method %>
<% end %>
</div>
